# OS
.DS_Store
Thumbs.db

# Environment
.env
**/.env

# Node
node_modules/
**/node_modules/
*.log
logs/

# Docker
.docker/

# Build outputs
dist/
build/
.next/
out/

# SSL certs
nginx/ssl/

# Coverage
coverage/

# IDE
.vscode/
.idea/